:root {
  --purple: #3f4079;
  --dark-purple: #1e2085;
  --green: #74d1c6;
  --pink: #e74e84;

  --light-green: #84c440;
  --dark-green: #61a518;
  --light-purple: #192030;
  --gray-1: #333333;
  --gray-2: #9b9b9b;
  --gray-3: #dedede;
  --gray-4: #f7f8f9;
}

body {
  max-width: 1440px;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  width: 1440px;
  /* background-color: black;
  color: white; */
}
html {
  scroll-behavior: smooth;
}
.btn-primary:hover {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}
.cancel-content {
  background-color: var(--gray-2);
}
.request-content {
  background-color: #f87a01;
}
.accepted-content {
  background-color: var(--dark-green);
}
.status-content {
  font-size: 13px;
  display: inline-block;
  padding: 0 10px;
  color: white;
  border-radius: 3px;
  font-weight: 600;
}
/* ----------------------------
---------------------------- NEW HOMEPAGE
----------------------------
---------------------------- */

.hero-form .col {
  padding: 0;
}
.hero-form .form-control {
  background-color: none;
  border: 1px solid white;
  border-radius: 0;
  background-clip: unset;
  display: inline;
}
.hero-form .form-group {
  margin-bottom: 0;
}
.hero-form .btn {
  border-radius: 0 5px 5px 0 !important;
}
.background-hero {
  background-color: var(--dark-green);
  z-index: 5;
  height: 550px;
  opacity: 0.4;
}
.hero-form-left {
  border-radius: 5px 0 0 5px !important;
}

.player-wrapper {
  position: relative;
  height: 550px !important;
  width: 1440px !important;
  background-color: black;
  overflow: hidden;
}

.react-player video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  width: 100%;
  height: auto !important;
}

.hero-content {
  position: absolute;
  z-index: 99;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 600px;
}
.hero-content h1 {
  font-size: 3.8rem;
  font-weight: 800;
}
.hero-content h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 40px;
}
/* ------- section 2: specialization */
#homepage-specialization {
  margin-top: 80px;
}
.specialization-box {
  position: relative;
  padding: 40px 20px;
  display: block;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
  -webkit-transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}
.specialization-box p {
  font-size: 20px;
}
.specialization-box:hover {
  color: var(--dark-green) !important;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
  transform: translateY(-5px);
}
.specialization-box:hover svg {
  opacity: 1;
  color: var(--dark-green);
  transition-duration: 0.8s;
}

.specialization-box img {
  width: 60px;
  color: var(--gray-1);
}
.col-specialization {
}
.col-specialization:hover {
}
.specialization-box svg {
  position: absolute;
  top: 10%;
  right: 10%;
  opacity: 0;
  color: var(--gray-1);
  transition-duration: 0.8s;
}
.hp-header {
  text-align: center;
}
.hp-header p {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
}
/* ----------------------------- 
----------------------------
----------------------------*/

.back-top {
  position: fixed;
  right: 20px;
  top: 500px;
  z-index: 5;
  border: 1px dotted var(--light-green);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--light-green);
}
.back-top svg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -49%);
  top: 50%;
}
.back-top a {
  text-decoration: none;
}
.back-top:hover {
  color: var(--dark-green);
}
.back-top:active {
  color: var(--dark-green);
}

/* -------------- Navbar     */
.nav-change {
  position: absolute;
  display: flex;

  z-index: 1;
  width: 1440px;
  color: white;
  background-color: #011946;
}
.nav-small {
  width: 100%;
  padding: 15px 0;
  font-weight: 400;
}
.nav-big {
  max-width: 1440px;
  width: 100%;
  background-color: white;
  height: 78px;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  opacity: 1;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
.nav-scroll {
  background-color: #dede;
  color: white;
}
.header {
  --text: --gray-3;
}
.nav-big-wrapper {
  display: flex;
  margin: 0;
  margin-left: auto;
}
.nav-big-wrapper > .dropdown {
  display: flex;
  align-items: center;
}
.nav-big-main {
  display: flex;
  margin: auto;

  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.nav-big-main a {
  margin: auto;
  margin-right: 30px;
  list-style: none;
  font-size: 17px;
  font-weight: 600;
  color: var(--gray-1) !important;
}
.nav-big-main .dropdown a {
  margin-right: 0;
}
.dropdown-menu {
  left: -100% !important;
}

.dropdown-menu a {
  color: black !important;
}
.nav-link {
  color: white;
  font-weight: 800;
}
.nav-link:active {
  font-weight: 800;
}
.nav-big-main li a {
  text-decoration: none;
  color: white;
}
.login-btn {
  border-color: white !important;
  color: white !important;
  border: 2px solid;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.login-btn:hover {
  decoration: none;
}
.login-btn-nav {
  margin: auto;
  margin-left: 20px;
}
.login-btn-nav > .active {
  background-color: none !important;
}
.nav-center {
  margin: auto 0;
  width: 160px;
}
.nav-center img {
  height: 50px !important;
}

@media (min-width: 992px) {
  .nav-big-main li {
    display: block;
    position: relative;
  }
}
.google-btn {
  justify-content: center;
}
.google-btn button {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px !important;
}
.facebook-btn {
  margin-top: 20px;
  justify-content: center;
}
.facebook-btn span {
  width: 90%;
}
.facebook-btn button {
  width: 100%;
  padding: 10px;
  border-radius: 5px !important;
}

/* -------------- Banner section */
.section-1-banner {
  background-image: url("https://res.cloudinary.com/tanvo/image/upload/v1617250977/hollie-santos-aUtvHsu8Uzk-unsplash_ge4t7t.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  position: relative;
  padding: 150px 0px 130px;
}
.banner-wrapper {
  margin: 0;
  padding: 30px;
  border-radius: 20px;
  color: var(--purple);
  background-color: white;
  width: 50%;
  opacity: 0.8;
}
.banner-btn {
  background-color: var(--pink);
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  padding: 8px 25px;
  text-transform: uppercase;
  font-weight: 500;
  margin: auto;
}
.banner-small-text {
  font-size: 16px;
  max-width: 550px;
  margin-bottom: 20px;
}
.banner-wrapper p {
  margin-bottom: 15px;
  font-size: 22px;
}
.banner-wrapper h1 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 600;
  max-width: 500px;
}
/* --------------- Section-2 */

.section-2 {
  padding: 60px 0;
}
.form-control {
  border-color: white;
  border-bottom: 1px solid #ebe2e2;
  border-radius: 0;
  color: #333;
  font-size: 15px;
  min-height: 46px;
  padding: 6px 6px;
  width: 99%;
}
.form-control:focus {
  border-color: white;
  outline: none !important;
  border-bottom: 1px solid #ebe2e2;
  box-shadow: unset;
}
.form-check {
  padding-left: 0 !important;
}
.form-profile {
  padding: 6px 20px;
}

/* --------------- Section-3 */
.section-3 {
  padding: 60px 0;
}
.section-header {
  margin-bottom: 30px;
}
.section-header h6 {
  font-size: 20px;
  color: var(--pink);
  font-weight: 600;
}
.section-header h2 {
  font-size: 32px;
  margin-bottom: 0;
  font-weight: 600;
  color: var(--dark-purple);
}
.about-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  color: #011946;
}
.about-content p + p {
  margin-top: 20px;
}
.left {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.left li {
  color: var(--dark-purple);
  font-weight: 500;
  margin-bottom: 15px;
}
.left li svg {
  font-size: 14px;
  color: var(--pink);
  margin-right: 8px;
}

/* ---------------- Login page */
.nav-2 {
  margin-top: 100px;
}
.nav-3 {
  margin-top: 80px;
}
.form-login input {
  border-radius: 5px;
  padding: 0 15px;
  box-shadow: inset 0 0 10px #fff;
  background: #fafafa2e;
}
.form-login input::placeholder {
  color: var(--gray-1);
}
.form-login .login-button {
  box-shadow: inset 0 0 10px #fff;
  font-weight: 600;
}
.section-login {
  background-image: url("https://res.cloudinary.com/tanvo/image/upload/v1617720816/tmed/bg1_c_kmaswa.webp");
  background-size: cover;
  padding: 70px 60px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.login-header {
  margin-bottom: 20px;
  text-align: center;
}
.login-header h3 a {
  color: var(--gray-1);
  float: right;
  font-size: 20px;
  margin-top: 2px;
}
.login-header h3 {
  font-size: 25px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.login-right {
  background-color: #a1f29f29;
  border: 1px solid #cacaca69;
  border-radius: 4px;
  padding: 25px;
  width: 80%;
  margin: auto;
  color: white;
  backdrop-filter: blur(5px);
}
.text-right {
  text-align: right !important;
}
.forgot-link {
  color: #3d3d3d;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 400;
}
.btn-primary {
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
}
.btn:active {
  background-color: var(--dark-green) !important;
  border: 1px solid var(--dark-green) !important;
}
.btn:focus {
  background-color: var(--dark-green) !important;
  border-color: var(--light-green);
  box-shadow: 0 0 0 0.2rem rgb(132 196 64 / 50%);
}
.login-button {
  font-size: 18px;
  font-weight: 500;
}

.login-or {
  color: #d4d4d4;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.or-line {
  background-color: #e5e5e540;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}
.span-or {
  background-color: #fff;
  display: block;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 42px;
}
.dont-have {
  color: black;
  margin-top: 20px;
  font-size: 13px;
  text-align: center !important;
}
.dont-have a {
  color: white;
}
@media only screen and (max-width: 991.98px) {
  .login-left {
    display: none;
  }
}
/* --------------- Section 4 WHY */
.section-4-why {
  background-image: url("https://doccure-laravel.dreamguystech.com/template-pediatric/public/assets/img/choose-bg.jpg");
  background-position: right;
  background-position: center;
  background-size: cover;
}
.section-4-why p {
  color: #fff;
  max-width: 500px;
  font-weight: 600;
}

/* ----------------- Section 5 Count */

.section-5-count {
  padding: 60px 0 0;
  position: relative;
  width: 100%;
}
.section-5-count .row {
  background-color: #fff;
  box-shadow: 2px 2px 13px rgb(0 0 0 / 10%);
  padding: 30px;
  border-radius: 3px;
  margin-top: -140px;
}

/* ------------------ Section 6 doctor */
.section-6-doctor {
}

.section-header a {
  float: right;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  color: #0e224b;
}
.homepage-card {
  position: relative;
  padding: 30px;
  margin: 0 20px;
  transition-duration: 0.3s;
}
.homepage-card:hover {
  padding: 10px;
}

.homepage-card img {
  max-height: 350px;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.hompepage-card-content {
  opacity: 0;
  transform: translateY(-100%);
}
.hompepage-card-content:hover {
  opacity: 0.8;
  color: white;
  background-color: var(--purple);
  transition: ease-in-out;
}

/* ------------------ Footer */
.footer-bottom {
  padding: 30px 0;
  margin: 0 150px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.footer {
  background-color: white;
  color: var(--gray-1);
  width: 1440px;
  margin-top: 30px;
  border-top: 1px solid var(--gray-3);
}
.footer-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-logo {
  width: 10rem;
  margin-bottom: 20px;
}
.footer-top {
  padding: 60px 0 0 0;
}
.footer-address svg {
  margin-right: 15px !important;
}
.footer-address {
  display: flex;
}
.footer-info svg {
  margin-right: 20px !important;
}
.footer-info {
  display: flex;
}
.submit-email-btn {
  background-color: var(--light-green);
  color: white;
  font-weight: 400;
  border: 2px solid white !important;
  margin: auto;
  margin-left: 50%;
  transform: translate(-50%);
}
.left-section {
  background-color: var(--purple);
  opacity: 0.9;
  width: 50%;
  padding: 60px 0 100px;
  padding-left: 120px;
  color: white;
}

/* ----------------------------- */
/* ---------DOCTOR DETAIL PAGE--------- */
/* ----------------------------- */

/* ---- sort-bar */
.sort-bar {
  padding: 15px 0;
}
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.nav-sort {
  display: flex;
  list-style: none;
}
.page-breadcrumb ol {
  background-color: transparent;
  font-size: 12px;
  margin-bottom: 0;
  padding: 0;
}
.breadcrumb-title {
  color: #0e224b;
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0 0;
}
.sort-filter {
  display: inline-block;
  width: 120px;
}
.search-content {
  padding: 30px 0 0;
}

.search-filter {
  top: 100px;
  position: sticky !important;
  box-shadow: 0 0 15px 0.2rem rgb(151 150 150 / 24%);
  border-radius: 30px;
  padding: 20px 25px;
}
.search-filter .card-body {
  padding: 1rem;
}

#review {
  margin: 20px 0;
  width: ;
}
.review-avg {
  background-color: var(--purple);
  padding: 20px 10px;
  color: white;
  text-align: center;
  border-radius: 15px;
}
.review-avg strong {
  font-size: 50px;
}
.review-avg span {
  font-size: 15px;
  position: absolute;
}
.table td {
  padding: 10px 10px;
}
.review-star small {
  font-weight: 600;
}
.review-star {
  line-height: 1.5;
}
/* ------- CARD DOC INFO */
.card-doc {
  margin: 20px 0;
}
.card-doc-info {
  padding: 20px 15px 15px 170px;
}
.rounded {
  border-radius: 50% !important;
}
.card-doc-info figure {
  position: absolute;
  left: 15px;
  top: 15px;
}
.card-heart {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ece6e6;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: white;
}
.card-heart svg {
  transform: translate(20%, 20%);
}
.card-heart svg:hover {
  color: #ffa41b;
}
.card-button {
  text-align: end;
}
.card-button a {
  margin: 0 10px;
  border-radius: 20px;
}
.card-doc-hour {
  padding: 20px;
}
/* ----------------------------------------- */
/* -------------DOCTOR CARD----------- */
/* ----------------------------------------- */
.circle-card {
  /* position: relative;
  width: fit-content; */
  /* overflow: hidden; */
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: auto;
}
.circle-card img {
  border-radius: 50%;
  max-height: 25rem;
  max-width: 25rem;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transition-duration: 0.3s;
}
.circle-card-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  line-height: 1;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #132601e8, #dedede7a);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  transition-duration: 0.3s;
  padding: 50px 0 0 0;
}
.circle-card-hover a {
  text-decoration: none;
  color: unset;
}
.circle-card:hover .circle-card-hover {
  opacity: 1;
  width: 90%;
  height: 90%;
  transition-duration: 0.3s;
}

.circle-card-icon {
  background-color: var(--dark-green);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  margin-top: 30px;
  margin: 10px;
  position: relative;
}
.circle-card-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.circle-card-icon-tooltip {
  position: absolute;
  visibility: hidden;
  display: block;
  width: fit-content;
  padding: 5px;
  background-color: white;
  color: var(--dark-green);
  top: 100%;
  margin-top: 10px;
}
.circle-card-icon-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 40%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}
.circle-card-icon:hover .circle-card-icon-tooltip {
  visibility: visible;
}

.circle-card-table {
  width: 350px;
  text-align: center;
  border-top: 1px solid white;
}
.circle-card-table th {
  font-size: 20px;
  padding: 20px 20px;
  border-bottom: 1px solid white;
}
.circle-card-table tr {
  margin: 30px;
}
.circle-card-table td {
  line-height: 2 !important;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px;
}
.cirlce-tooltip {
  background-color: var(--gray-3) !important;
  color: black !important;
  border-radius: 20px !important;
  padding: 20px 20px !important;
  /* box-shadow: 0 10px 10px 0 var(--gray-3) !important; */
}
.cirlce-tooltip span {
  font-size: 20px;
  font-weight: 600;
}

/* ----------------------------------------- */
/* -------------PATIENT DASHBOARD----------- */
/* ----------------------------------------- */
.patient-dashboard {
  min-height: 500px;
  margin: 50px 0;
}
.patient-info h3 {
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.patient-info {
  text-align: center;
}
.patient-img {
  display: flex;
  justify-content: center;
  margin: 0 25px;

  padding: 8px;
  border-radius: 50%;
}
.patient-img img {
  width: 10rem;
}
.nav-info {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
.dashboard-btn {
  width: 100%;
  text-align: center;
}
.dashboard-table {
  border-radius: 15px;
  border: none;
}
.dashboard-table th {
  border-top: 1px solid var(--gray-2) !important;
  z-index: 1;
}

.nav-link.active {
  background-color: var(--light-green) !important;
}
.nav-item a {
  color: black;
}
.dashboard-img {
  padding: 20px;
  display: flex;
}
.dashboard-img img {
  margin-right: 20px;
  width: 18rem;
  border-radius: 50%;
}
.dashboard-img button {
  margin: auto 0;
  border-radius: 20px;
  padding: 10px 15px;
}
.dashboard-img button:hover {
  color: white;
  background-color: var(--purple);
  position: relative;
}
.dashboard-img button:hover::after {
  content: "Max size of 2MB";
  background-color: white;
  color: black;
  border: 1px solid var(--green);
  position: absolute;
  top: 120%;
  left: 10%;
  width: 100px;
  padding: 5px;
  border-radius: 20px;
}
.view-icon {
  color: var(--light-green);
}
.view-icon:hover {
  color: var(--dark-green);
}
/* ----------------------------------------- */
/* -------------DOCTOR DASHBOARD----------- */
/* ----------------------------------------- */
/* ----------- update working hour */
.table-update-wk th {
  background-color: var(--dark-green);
  color: white;
  padding: 20px;
}
.table-update-wk label {
  margin: 0;
}
.table-update-wk {
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  width: 100%;
}

.table-update-wk td {
  padding: 20px;
}

.form-check-wk-hour input {
  position: static;
  margin: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: #ccc;
  /* -webkit-transition: 1s; */
  transition: all 0.4s ease !important;
}
.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 5px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  /* -webkit-transition: 1s; */
  transition: all 0.4s ease !important;
}
input:checked + .slider {
  background-color: #2196f3;
}
.switch-box:checked + .slider {
  background-color: var(--light-green);
}
.switch-box:checked + .slider:before {
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
  transform: translateX(29px);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* ------------ */
.accepted-but {
  color: var(--light-green);
}
.accepted-but:hover {
  color: var(--dark-green);
}
.cancel-but {
  color: #f55d5d;
}
.cancel-but:hover {
  color: #ff005b;
}

/* ----------------------------------------- */
/* -------------BOOKING PAGE--------------- */
/* ----------------------------------------- */

.react-date-picker__wrapper {
  padding: 5px !important;
  border-radius: 5px !important;
}

.booking-calender {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}
.booking-calendar-header {
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
}
.booking-calendar-content {
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
}
.slot-title ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  /* float: left; */
  /* margin-bottom: 0; */
  margin-left: -5px;
  margin-right: -5px;
  padding: 0;
  /* position: relative; */
  width: 100%;
}
.slot-title li div {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.title-date {
  font-size: 14px !important;
  color: var(--light-green);
}
.slot-unavailable {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  opacity: 0.9;
}
.slot-content div[disabled] {
  box-shadow: unset;
}
.slot-request {
  color: #fff;
  background-color: rgb(254 89 147);
}
.slot-accepted {
  color: #fff;
  background-color: #1976d2;
}
.slot-available {
  color: rgba(0, 0, 0, 0.87);

  background-color: white;
}
.slot-content div {
  padding: 3px 0;
  text-align: center;
  margin: 10px 0;

  border-radius: 4px;
  cursor: pointer;

  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  -webkit-transition: all 0.3s ease-in-out;
}

.slot-content div[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.slot-catalog {
  line-height: 1;
  height: fit-content;
  display: inline;
  padding: 3px 5px !important;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 14px;
}
.slot-content div:hover {
  color: white;
  box-shadow: 0 0 20px 0 rgb(132 196 64 / 0%);
  transform: translateY(-5px);
  background-color: #84c440;
}
.modal-appointment {
  padding: 30px;
  justify-content: space-around;
}
.modal-appointment img {
  border-radius: 50%;
}
.booking-table {
  text-align: center;
}
.booking-table th {
  border-bottom: 1px solid var(--gray-2);
  padding: 20px;
  font-size: 20px;
}
.booking-table td {
  padding: 5px 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 6px 0;
}

/* ----------------------------- */
/* ---------DOCTOR PAGE DETAIL--------- */
/* ----------------------------- */

.university svg {
  width: 40px !important;
  height: 40px !important;
}
.circle svg {
  width: 40px !important;
  height: 40px !important;
}
.about {
  position: relative;
  padding-left: 60px;
}
.about > .university {
  position: absolute;
  left: 0;
  top: 0;
}
.about > .circle {
  position: absolute;
  left: 0;
  top: 0;
}
.review-box {
  position: relative;
  padding-left: 100px;
}
.review-box figure {
  position: absolute;
  top: 0;
  left: 0;
}
.review-box-content {
}
.review-img {
  width: 80px;
  border-radius: 10px;
}
.review-name {
  font-size: 0.75rem;
  font-style: italic;
  color: #777;
  margin-bottom: 10px;
}
.review-nav {
  background-color: #61a518e3;

  bottom: -3px;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}
.review-nav a {
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem !important;
  margin-right: 25px !important;
  padding: 0;
  color: white;
}
#general {
  background-color: #fff;
  padding: 30px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 15px;
  border: 1px solid #e1e8ed;
}
.star-ratings svg {
  vertical-align: baseline !important;
}
.doctor-appointment {
  display: inline-block;
  background-color: #84c440bf;
  color: white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  padding: 8px 10px;
  line-height: 1;
  margin-bottom: 15px;
}
.review-specialization {
  text-transform: uppercase;
  color: #999;
  font-weight: 600;
}
.progress-bar {
  background-color: var(--light-green);
}
.visit {
  background-color: var(--dark-green);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}
.review-visit {
  position: sticky;
  top: 100px;
  text-align: center;
  border: 1px solid var(--dark-green);
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
  width: 350px;
  padding: 0 0 20px 0;
  text-align: center;
  transition-duration: 0.3s;
}
.side-detail {
  /* position: relative; */
  /* overflow: hidden; */
  box-sizing: border-box;
  /*  margin-bottom: 50px; */
}
.slot-detail {
  padding: 3px 0;
  text-align: center;
  margin: 5px 0;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
  background-color: white;
}
.slot-detail:hover {
  background-color: var(--light-green);
  color: white;
}
/* .side-detail a {
  text-align: center;
  width: 50%;
  border-radius: 20px;
} */
.review-visit a:hover,
.review-visit a:focus {
  box-shadow: inset 6.5em 0 0 0 #61a518 !important;
  transition-duration: 0.3s;
}
/* .review-visit a:focus-within:after {
  content: " >>";
  color: white;
  height: 30px;
} */

.search-button {
  border-radius: 30px;
  padding: 5px 35px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  color: var(--dark-green);
}
.booking-button:hover,
.booking-button:focus {
  box-shadow: inset 6.5em 0 0 0 #61a518 !important;
  transition-duration: 0.3s;
}
.booking-button {
  border-radius: 30px;
  padding: 5px 35px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  color: var(--dark-green);
}
.booking-button span {
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.booking-button span:after {
  content: "\00bb";
  width: 30px;
  position: absolute;
  top: 0;
  right: -20px;
  transition: 0.3s;
  opacity: 0;
  font-size: 30px;
  transform: translateY(-20%);
}
.booking-button:hover span {
  padding-right: 25px;
}
.booking-button:hover span:after {
  opacity: 1;
}
/* ----------------------------- */
/* ---------PAGINATION--------- */
/* ----------------------------- */

.paginationBttns {
  /* width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center; */
}

.paginationBttns a {
  color: rgba(0, 0, 0, 0.87);
  height: 40px;
  margin: 0 3px;
  padding: 0 6px;
  font-size: 0.875rem;
  min-width: 32px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 16px;
  letter-spacing: 0.01071em;

  align-items: center;
}

.paginationBttns a:hover {
  /* color: white;
  background-color: #2b2eff; */
}

.paginationActive a {
  display: inline-block;
  padding: 0 3px;
  border: 1px solid white;
  width: 25px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--light-green);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationDisabled a {
  color: grey;
  background-color: grey;
}
.pagination {
  justify-content: center;
  margin: 0 !important;
}
.nav-search input {
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 20px;
}
.nav-search input:focus {
  outline: none;
}
.nav-search svg {
  position: absolute;
  right: 0;
  transform: translate(-20%, -50%);
  top: 50%;
  color: var(--gray-2);
}

/* ----------------------------- */
/* ---------NOT FOUND PAGE--------- */
/* ----------------------------- */

.not-found {
  background-image: url("https://res.cloudinary.com/tanvo/image/upload/v1617269251/marcos-paulo-prado-_aRzwAI1ZeM-unsplash_3_duaaxi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  position: relative;
  padding: 150px 0px 130px;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 40%);
}

.not-found p {
  color: white;
}
.error {
  color: white;
}
.error h1 {
  font-size: 100px;
  margin-right: 20px;
  transform: translate(0, 10%);
}
.error svg {
  font-size: 100px;
  color: var(--pink);
}
.error span {
  margin: 0 auto;
}
