:root {
  --purple: #3f4079;
  --green: #74d1c6;
  --pink: #e74e84;
}

body {
  max-width: 1440px;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  /* background-color: black;
  color: white; */
}
html {
  scroll-behavior: smooth;
}
/* -------------- Navbar     */
.nav-change {
  position: absolute;
  display: flex;

  z-index: 1;
  width: 1440px;
  color: white;
  background-color: #011946;
}
.nav-small {
  width: 100%;
  padding: 15px 0;
  font-weight: 400;
}
.nav-big {
  width: 100%;
  background-color: #f6faff61;
  height: 85px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.nav-big-wrapper {
  display: flex;
  margin: 0;
  margin-left: auto;
}

.nav-big-main {
  display: flex;
  margin: auto;

  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.nav-big-main li {
  margin: auto;
  margin-right: 30px;
  list-style: none;
  font-size: 15px;
  font-weight: 600;
}
.login-btn {
  border-color: white !important;
  color: white !important;
  border: 2px solid;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.login-btn:hover {
  decoration: none;
}
.login-btn-nav {
  margin: auto;
  margin-left: 20px;
}
.nav-center {
  margin: auto 0;
  width: 160px;
}

@media (min-width: 992px) {
  .nav-big-main li {
    display: block;
    position: relative;
  }
}

/* -------------- Banner section */
.section-1-banner {
  background-image: url("https://doccure-laravel.dreamguystech.com/template-pediatric/public/assets/img/search-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  position: relative;
  padding: 150px 0px 130px;
}
.banner-wrapper {
  padding-top: 120px;
  margin: auto;
  color: white;
}
.banner-btn {
  background-color: #fe235b;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  padding: 8px 25px;
  text-transform: uppercase;
  font-weight: 500;
  margin: auto;
}
.banner-small-text {
  font-size: 16px;
  max-width: 550px;
  margin-bottom: 20px;
}
.banner-wrapper p {
  margin-bottom: 15px;
  font-size: 22px;
}
.banner-wrapper h1 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 600;
  max-width: 500px;
}
/* --------------- Section-2 */

.section-2 {
  padding: 60px 0;
}
.form-control {
  border-color: #dcdcdc;
  color: #333;
  font-size: 15px;
  min-height: 46px;
  padding: 6px 15px;
}

/* --------------- Section-3 */
.section-3 {
  padding: 60px 0;
}
.section-header {
  margin-bottom: 30px;
}
.section-header h6 {
  font-size: 20px;
  color: #fe235b;
  font-weight: 600;
}
.section-header h2 {
  font-size: 32px;
  margin-bottom: 0;
  font-weight: 600;
  color: #011946;
}
.about-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  color: #011946;
}
.about-content p + p {
  margin-top: 20px;
}
.left {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.left li {
  color: #011946;
  font-weight: 500;
  margin-bottom: 15px;
}
.left li svg {
  font-size: 14px;
  color: #fe235b;
  margin-right: 8px;
}

/* ---------------- Login page */
.nav-2 {
  position: relative;
  height: 140px;
  width: 100%;
  background-color: #011946;
}
.section-login {
  padding: 50px 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.login-header {
  margin-bottom: 20px;
}
.login-header h3 a {
  color: #fe235b;
  float: right;
  font-size: 15px;
  margin-top: 2px;
}
.login-header h3 {
  font-size: 18px;
  margin-bottom: 3px;
}

.login-right {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 25px;
}
.text-right {
  text-align: right !important;
}
.forgot-link {
  color: #3d3d3d;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 400;
}
.btn-primary {
  background-color: #fd4675;
  border: 1px solid #fd4675;
}
.login-button {
  font-size: 18px;
  font-weight: 500;
}

.login-or {
  color: #d4d4d4;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.or-line {
  background-color: #e5e5e5;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}
.span-or {
  background-color: #fff;
  display: block;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 42px;
}
.dont-have {
  color: #3d3d3d;
  margin-top: 20px;
  font-size: 13px;
  text-align: center !important;
}
.dont-have a {
  color: #fd4675;
}
@media only screen and (max-width: 991.98px) {
  .login-left {
    display: none;
  }
}
/* --------------- Section 4 WHY */
.section-4-why {
  background-image: url("https://doccure-laravel.dreamguystech.com/template-pediatric/public/assets/img/choose-bg.jpg");
  background-position: right;
  background-position: center;
  background-size: cover;
}
.section-4-why p {
  color: #fff;
  max-width: 500px;
  font-weight: 600;
}

/* ----------------- Section 5 Count */

.section-5-count {
  padding: 60px 0 0;
  position: relative;
  width: 100%;
  background-color: #fff;
}
.section-5-count .row {
  background-color: #fff;
  box-shadow: 2px 2px 13px rgb(0 0 0 / 10%);
  padding: 30px;
  border-radius: 3px;
  margin-top: -140px;
}

/* ------------------ Section 6 doctor */
.section-6-doctor {
  background-color: #fff;
  padding: 60px 0 40px;
}

.section-header a {
  float: right;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  color: #0e224b;
}

/* ------------------ Footer */
.footer {
  background-color: #122852;
  color: white;
  width: 1440px;
  margin-top: 50px;
}
.footer-top {
  padding: 60px 0;
}
.footer-address svg {
  margin-right: 15px !important;
}
.footer-address {
  display: flex;
}
.footer-info svg {
  margin-right: 20px !important;
}
.footer-info {
  display: flex;
}
.submit-email-btn {
  background-color: #122852;
  color: white;
  font-weight: 400;
  border: 2px solid white !important;
  margin: auto;
  margin-left: 50%;
  transform: translate(-50%);
}
.left-section {
  background-color: #0e2550;
  opacity: 0.9;
  width: 50%;
  padding: 60px 0 100px;
  padding-left: 120px;
  color: white;
}

/* ----------------------------- */
/* ---------DOCTOR PAGE--------- */
/* ----------------------------- */

/* ---- sort-bar */
.sort-bar {
  background-color: white;
  padding: 15px 0;
}
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.nav-sort {
  display: flex;
  list-style: none;
}
.page-breadcrumb ol {
  background-color: transparent;
  font-size: 12px;
  margin-bottom: 0;
  padding: 0;
}
.breadcrumb-title {
  color: #0e224b;
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0 0;
}
.sort-filter {
  display: inline-block;
  width: 120px;
}
.search-content {
  padding: 30px 0 0;
}

.search-fitler {
}
/* ------- CARD DOC INFO */
.card-doc {
  margin: 20px 0;
}
.card-doc-info {
  padding: 20px 15px 15px 170px;
}
.rounded {
  border-radius: 50% !important;
}
.card-doc-info figure {
  position: absolute;
  left: 15px;
  top: 15px;
}
.card-heart {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ece6e6;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  color: white;
}
.card-heart svg {
  transform: translate(20%, 20%);
}
.card-heart svg:hover {
  color: #ffa41b;
}
.card-button {
  text-align: end;
}
.card-button a {
  margin: 0 10px;
  border-radius: 20px;
}

/* ----------------------------------------- */
/* -------------PATIENT DASHBOARD----------- */
/* ----------------------------------------- */
.patient-dashboard {
  min-height: 500px;
  margin: 50px 0;
}
.patient-info h3 {
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.patient-img {
  display: inline-block;
  margin: 0 0 15px;
  width: auto;
  padding: 8px;
  background-color: #f7f7f7;
  border-radius: 50%;
}
.nav-link.active {
  background-color: #74d1c6 !important;
}
.nav-item a {
  color: black;
}

/* ----------------------------------------- */
/* -------------DOCTOR DASHBOARD----------- */
/* ----------------------------------------- */
.accepted-but {
  color: var(--green);
}
.accepted-but:hover {
  color: var(--purple);
}
.cancel-but {
  color: var(--pink);
}
.cancel-but:hover {
  color: #ef226b;
}

/* ----------------------------------------- */
/* -------------BOOKING PAGE--------------- */
/* ----------------------------------------- */

.react-date-picker__wrapper {
  padding: 5px !important;
  border-radius: 5px !important;
}

.booking-calender {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}
.booking-calendar-header {
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
}
.booking-calendar-content {
  padding: 10px 20px;
  border: 1px solid #f0f0f0;
}
.slot-title ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  /* float: left; */
  /* margin-bottom: 0; */
  margin-left: -5px;
  margin-right: -5px;
  padding: 0;
  /* position: relative; */
  width: 100%;
}
.slot-title li div {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.title-date {
  font-size: 14px !important;
  color: #757575;
}
.slot-unavailable {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  opacity: 0.7;
}
.slot-request {
  color: #fff;
  background-color: rgb(254 89 147);
}
.slot-accepted {
  color: #fff;
  background-color: #1976d2;
}
.slot-available {
  color: rgba(0, 0, 0, 0.87);

  background-color: #e9e9e9;
}
.slot-content div {
  padding: 3px 0;
  text-align: center;
  margin: 5px 0;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}
.slot-content div[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
.slot-catalog {
  line-height: 1;
  height: fit-content;
  display: inline;
  padding: 3px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 14px;
}
.slot-content div:hover {
  background-color: var(--green);
  color: black;
}
.modal-appointment {
  padding: 30px;
  justify-content: space-around;
}
.modal-appointment img {
  border-radius: 10px;
}

/* ----------------------------- */
/* ---------DOCTOR PAGE DETAIL--------- */
/* ----------------------------- */

.university svg {
  width: 40px !important;
  height: 40px !important;
}
.circle svg {
  width: 40px !important;
  height: 40px !important;
}
.about {
  position: relative;
  padding-left: 60px;
}
.about > .university {
  position: absolute;
  left: 0;
  top: 0;
}
.about > .circle {
  position: absolute;
  left: 0;
  top: 0;
}
.review-box {
  position: relative;
  padding-left: 100px;
}
.review-box figure {
  position: absolute;
  top: 0;
  left: 0;
}
.review-box-content {
}
.review-img {
  width: 80px;
  border-radius: 10px;
}
.review-name {
  font-size: 0.75rem;
  font-style: italic;
  color: #777;
  margin-bottom: 10px;
}
.review-nav {
  background-color: #3f4079;

  bottom: -3px;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}
.review-nav a {
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem !important;
  margin-right: 25px !important;
  padding: 0;
  color: white;
}
#general {
  background-color: #fff;
  padding: 30px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 15px;
  border: 1px solid #e1e8ed;
}
.star-ratings svg {
  vertical-align: baseline !important;
}
.doctor-appointment {
  display: inline-block;
  background-color: #74d1c6;
  color: white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  padding: 8px 10px;
  line-height: 1;
  margin-bottom: 15px;
}
.review-specialization {
  text-transform: uppercase;
  color: #999;
  font-weight: 600;
}
.progress-bar {
  background-color: #74d1c6;
}
.visit {
  background-color: #3f4079;
  color: white;
  padding: 20px 30px;
  margin: -30px -30px 30px -30px;
  text-align: center;
}
.review-visit {
  /* position: fixed; */
  padding: 20px;
  width: 350px;
  top: 0;
  /* transform: translateY(95px); */
}
.side-detail {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.slot-detail {
  padding: 3px 0;
  text-align: center;
  margin: 5px 0;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
}
.slot-detail:hover {
  background-color: #e74e84;
}
.side-detail a {
  text-align: center;
  width: 100%;
  border-radius: 20px;
}
